<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Anything can happen</title>

    <link rel="stylesheet" href="/assets/main.css">

</head>
<body>
    <div class="anything-can-happen">
        <div class="anything-can-happen__machine-img"></div>
        <div class="anything-can-happen__stage">
            <canvas id="canvas"></canvas>
        </div>
    </div>

<div style="display:none;">
  <img id="source1" src="/assets/img/anything-can-happen/whole-orange.png" width="100px" height="100px">
  <img id="source2" src="/assets/img/anything-can-happen/whole-blue.png">
</div>

    <!-- <script src="/node_modules/jquery/dist/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/origamijs/0.5.1/origami.min.js"></script>
    <script src="/assets/js/anything-can-happen.js"></script>
    <!-- <script src="/assets/js/init.js"></script> -->
</body>
