{{#footernew}}
<div class="layout">
    <section class='layout__item  footer__info'>
        <h4>Sky Betting &amp; Gaming</h4>
        <ul class='page-foot__logos'>
            <li><a class='page-foot__logo--ibas' title='Independent Betting Arbitration Service' href='http://www.ibas-uk.com' target='_blank' rel='external' data-track-category='Footer' data-track-id='IBAS'>IBAS</a>        </li>
            <li><a class='page-foot__logo--verisign' href='http://www.verisign.com/' title='Verisign Secure Site' target='_blank' rel='external' data-track-category='Footer' data-track-id='Verisign'>Verisign</a></li>
            <li><a class='page-foot__logo--essa' href='http://www.eu-ssa.org/' title='ESSA' target='_blank' rel='external' data-track-category='Footer' data-track-id='ESSA'>ESSA</a></li>
        </ul>

        <p>Customers in United Kingdom: Sky Vegas is licensed and regulated by the <a href='https://secure.gamblingcommission.gov.uk/gccustomweb/PublicRegister/PRSearch.aspx?ExternalAccountId=38718' rel='external nofollow' target='_blank' data-track-category='Footer' data-track-id='Gambling Commission'>Gambling Commission (licence number 38718)</a></p>
        <p>All other customers: Sky Vegas is licensed and regulated by <a href='http://www.gamblingcontrol.org/' rel='external nofollow' target='_blank' data-track-category='Footer' data-track-id='AGCC'>Alderney Gambling Control Commission</a></p>

        <ul class='page-foot__site-links'>
            <li><div data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/43?mobile=1' data-track-category='Footer' data-track-id='About Us'>About us</div></li>
            <li><div data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/143?mobile=1' data-track-category='Footer' data-track-id='Privacy & Cookies'>Privacy and Cookies Notice</div></li>
            <li><div data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/81?mobile=1' data-track-category='Footer' data-track-id='Press'>Press</div></li>
            <li><div data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/80?mobile=1' data-track-category='Footer' data-track-id='Accessibility'>Accessibility</div></li>
            <li><a href='http://www.affiliatehub.com' target='_blank' rel='external' data-track-category='Footer' data-track-id='Affiliates'>Affiliates</a></li>
            <li><a href='http://www.skybet.com/careers' target='_blank' rel='external' data-track-category='Footer' data-track-id='Work for Sky'>Career Opportunities</a></li>
            <li><div data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/40?mobile=1' data-track-category='Footer' data-track-id='Terms & Conditions' class='hide-lap-and-up'>Terms & Conditions<script type='application/json'>{"text": "Terms & Conditions"}</script></div></li>
            <li><a href='http://engineering.skybettingandgaming.com/' target='_blank' rel='external' data-track-category='Footer' data-track-id='Engineering Blog'>Engineering Blog</a></li>
        </ul>
    </section>

    <section class='layout__item  footer__deposit'>
        <h4>Deposit Funds</h4>
        <ul class='page-foot__logos'>
            <li class='page-foot__logo--visa'>Visa</li>
            <li class='page-foot__logo--mastercard'>Mastercard</li>
            <li class='page-foot__logo--maestro'>Maestro</li>
            <li class='page-foot__logo--paypal'>PayPal</li>
        </ul>
        <p>We accept the following payment methods: Visa Credit, Visa Debit, Visa Electron, Mastercard, Maestro, Solo &amp; PayPal</p>
    </section>

    <section class='layout__item  footer__responsible'>
        <h4>Responsible Gambling</h4>
        <ul class='page-foot__logos'>
            <li><a class='page-foot__logo--gamcare' href='http://www.gamcare.org.uk' title='GamCare' rel='external' target='_blank' data-track-category='Footer' data-track-id='GamCare'>Gamcare</a></li>
            <li><div data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/52?mobile=1' data-track-category='Footer' data-track-id='gamcare certification' class='page-foot__logo--gamcare-cert'>Gamcare Certification</div></li>
            <li><a class='page-foot__logo--gambling-therapy' href='http://www.gamblingtherapy.org?ReferrerID=312' target='_blank' rel='external' title='Gambling Therapy' data-track-category='Footer' data-track-id='Gambling Therapy'>Gambling Therapy</a></li>
            <li class='page-foot__logo--over-18'>Over 18s</li>
            <li><a class='page-foot__logo--gamb-aware' href='http://www.gambleaware.co.uk' target='_blank' rel='external' title='Gamble Aware' data-track-category='Footer' data-track-id='Gamble Aware'>Gamble Aware</a></li>
            <li><a class='page-foot__logo--fun-stops' href='http://www.whenthefunstops.co.uk' target='_blank' rel='external' title='When The Fun Stops Stop' data-track-category='Footer' data-track-id='When The Fun Stops Stop'>When The Fun Stops Stop</a></li>
        </ul>
        <p>We are committed to <span data-react-component='react/common/SupportLink' href='{{supportUrl}}/app/answers/detail/a_id/28?mobile=1' data-track-category='Footer' data-track-id='Responsible Gambling' class='link'>Responsible Gambling</span> and have a number of self-help tools to help you manage your gambling.</p>
        <p>We also work with a number of independent charitable organisations who can offer help or answer any questions you may have.</p>
    </section>

    <section class='layout__item--full'>
        <p id='copyright'>© 2017 Bonne Terre Limited or its affiliated companies. The Sky trademarks are owned by the Sky Plc group of companies and are used under licence. All rights reserved.</p>
    </section>
</div>
{{/footernew}}
