<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>SANDBOX</title>

    <link rel="stylesheet" href="/assets/main.css">

</head>
<body style="background: white;">



<section class="promoHero">
    <div class="promoHero__wrap">
        <div class="promoHero__img">
            <img src="https://st1.skybet.com/static/content/gaming/promotions/5679-detail-header-1x-9bb0418d.png" alt="">
        </div>


        <div class="promoHero__content">
            <div class="promoHero__yourin">
                <div class="promoStatus">
                    <i class="icon  icon--natural" data-icon=""></i><span>49 days to opt in</span>
                </div>
            </div>
            <div class="promoHero__prize-info">Your winning spin on Tuesday</div>

            <h1 class="promoHero--header">One Free Scratchcard</h1>
            <h3 class="promoHero--sub">Claim your free 50p scratchcard</h3>

            <div class="promoHero__wagering hide">
                <div class="promoHero__wagering--bonus-amount">50p</div>
                <div class="promoHero__wagering--percentage">[countdown]</div>
                <h3 class="promoHero__wagering--sub">wagering subtitle</h3>
            </div>

            <!-- <div class="promoHero__freebet hide">
                <div class="promoHero__freebet--sub">Freebet claimed</div>
                <div class="promoHero__freebet--bonus-amount">£5 remaining</div>
                <h3 class="promoHero__freebet--action">freebet subtitle</h3>
            </div> -->

            <div class="promoHero__cta">
                <button class="btn btn--primary">Claim Now!</button>
            </div>

            <div class="promoHero__keyterms"><a href="">Key Terms</a></div>
        </div>


    </div>
</section>


    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/init.js"></script>
</body>
